@import '../../../../theme.scss';

.actions {
    padding-top: 16px;
    justify-content: center;

    .btn-back-to-login {
        background: $accentColor !important;
        color: $whiteColor;
        font-size: 13px;
    }
}