<div layout="column" layout-align="center center" id="login">
    <mat-card id="custom-card-size">
        <mat-card-content>
            <form #form="ngForm" (ngSubmit)="recoverPassword(form)">
                <div layout="column">
                    <div layout="row" layout-align="center center">
                        <img [src]="'../../../assets/images/logo-pti.png'" class="image-logo" alt="Logo PTI">
                    </div>
                    <div layout="column" class="pad-top">
                        <div layout="row">
                            <mat-input-container flex>
                                <input matInput type="email" placeholder="Digite seu e-mail cadastrado no sistema" name="email" 
                                    [(ngModel)]="usuario.email" required/>
                                    <mat-icon matSuffix>email</mat-icon>
                            </mat-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center" class="actions" flex>
                        <button mat-raised-button type="button" style="width:auto" class="btn-back-to-login" [routerLink]="['/login']">
                            Voltar
                        </button>
                        <horizontal-space></horizontal-space>
                        <button mat-raised-button type="submit" style="width:auto">
                            Recuperar senha
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div id="bottom"></div>
