./target
./target/**
./.idea
./.idea/**
./.settings
./.settings/**
./.apt_generated
./.apt_generated/**
./.classpath
./.springBeans

target
/target
/target/**
/.idea
/.idea/**
/.settings
/.apt_generated
/.apt_generated/**
/.classpath
/.springBeans
/bin/
\.factorypath
\.project

src/main/ts/\.history/

src/main/ts/ngrok
