#login {
    height: 50%;
    background: #002E63;

    #custom-card-size{
        height: 30%;
    }

    mat-card {
        // Centralizar o card dinamicamente
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 360px;
        border-radius: 5px;
        padding: 30px;
        
        mat-card-content, 
        form,
        form > div {
            height: 100%;
        }
        
        mat-card-content {
            padding: 0;
            font-size: 13px;
            
            form {
                .image-logo { height: 93px; }

                label.mat-form-field-label,
                mat-icon {
                    color: #707070 !important;
                }
                
                mat-icon { 
                    font-size: 14px; 
                }
                
                button {
                    background: #002E63;
                    color: #FFF;
                    width: 120px;
                    font-size: 13px;
                }

                .esqueceu-sua-senha {
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #707070;
                }
            }
        }
    }
}

#bottom {
    height: 50%;
    background: #F8F9FE;
}
