@import '../../../../theme.scss';

.no-records-found {
    background: #FAFAFA;
    padding: 20px;
    text-align: center;
    font-size: 13px;
    color: $accentColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}