@import '../../../../../../theme.scss';

#change-password-dialog {
    font-size: 13px;

    label.mat-form-field-label,
    mat-icon { color: #707070; }
    
    mat-icon { font-size: 14px; }

    .mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
    }
}